.info-box{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 40em;

  .topBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.weatherbox {
  display: flex;
  justify-content: space-between;
  width: 20em;
}